<a class="fs-1 px-5 text-black link-underline link-underline-opacity-0" asp-controller="MyHome" asp-action="" asp-fragment="target-status"><i class="fa-solid fa-arrow-left"></i> New Target Status</a>
<h1>New Target Status</h1>