<p>Test</p>
<div class="alert alert-info">
	<p class="fs-3 text-center">
		Do U know?
	</p>
	<hr />
	<div class="blockquote text-start px-5">
		<p class="fs-5">
			@ViewBag.Advice.Name
		</p>
		<p class="fs-5">
			@ViewBag.Advice.Description
		</p>
	</div>
</div>