<div class="alert alert-info">
	<p class="fs-4 text-center">
		Advice About Dental Health
	</p>
	<hr />
	<div class="blockquote text-start px-5">
		<p class="fs-3">
			@ViewBag.Advice.Name
		</p>
		<p class="fs-5">
			@ViewBag.Advice.Description
		</p>
	</div>
</div>