@model TargetStatusDto
<p class="fs-1 px-5 text-black">New Target Status</p>
<hr />

<form method="post" asp-controller="Target" asp-action="CreateTargetStatus" enctype="multipart/form-data" class="needs-validation px-4" novalidate>

	<div class="my-2">
		
		<label class="px-5">Time</label>

		<div class="form-floating my-2">
			<input asp-for="Minutes" placeholder="name@example.com" class="form-control" title="">
			<label asp-for="Minutes">Minute</label>
			<div id="Name" class="invalid-feedback">
			</div>
		</div>
		<div class="form-floating my-2">
			<input asp-for="Second" placeholder="Description" class="form-control" title=""></input>
			<label asp-for="Second">Second</label>
			<div id="Description" class="invalid-feedback">
			</div>
		</div>
		<input asp-for="TargetId" type="hidden" value="@ViewBag.TargetId"></input>
	</div>
	<div class="form-group my-2">
		<input asp-for="ImgHash" type="File" name="File" class="form-control">
		<div id="File" class="invalid-feedback">
		</div>
	</div
	</div>
	<div class="form-group my-2">
		<button type="submit" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i> Create New Target</button>
	</div>
</form>