<div >
	<div class="mx-5">
		<p class="mx-5 px-5 fs-1 text-center">Hi @User!.Name</p>
		<hr />
	</div>


	<ul class="nav nav-tabs mx-5 px-5 my-0 border-0" id="MyHomeTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="target-status-tab" data-bs-toggle="tab" href="#target-status" role="tab" aria-controls="target-status" aria-selected="true">My Status</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="target-tab" data-bs-toggle="tab" href="#target" role="tab" aria-controls="target" aria-selected="false">My Targets</a>
		</li>
	</ul>
	<div class="tab-content border border-1 rounded-5 p-5" id="MyHomeTabContent">
		<div class="tab-pane fade" id="target-status" role="tabpanel" aria-labelledby="target-status-tab">
			@await Component.InvokeAsync("TargetStatuses", @User)
		</div>
		<div class="tab-pane fade" id="target" role="tabpanel" aria-labelledby="target-tab">
			@await Component.InvokeAsync("Targets", @User)
		</div>
	</div>
</div>