<div >
	<h1 class="mx-5 px-5 text-center">Hi @User!.Name</h1>
	<hr />

	<div class="d-flex justify-content-between">
		<div>
			@await Component.InvokeAsync("LatestTargets",@User)
		</div>
	</div>
</div>