<div class="text-bg-light">
	<div class="container text-center">
		<h1> HI! I AM A FOOTER</h1>	
		<div class="row justify-content-between p-5">
			<div
			<div class="col-md-auto ms-0">
				@await Component.InvokeAsync("Advice",null)
			</div>
			<div class="col-md-auto ms-0">
				<ul>
					<li>
						<span>test1</span>
					</li>
					<li>
						<span>test1</span>
					</li>
					<li>
						<span>test1</span>
					</li>
					<li>
						<span>test1</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>