
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        @if (User == null)
        {
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">My Dental Health</a>
        }
        else
        {
            <a class="navbar-brand" asp-controller="MyHome" asp-action="Index">My Dental Health</a>
        }
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <partial name="_NavbarMenu"/>
                <!--
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">-----</a>
                </li>
            -->
            </ul>
            <ul class="navbar-nav m-0 mb-2 mb-lg-0">
                <partial name="_NavbarLoginMenu" />
            </ul>
        </div>
    </div>
</nav> 
