@if(User == null){
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="Singin">Login</a>
    </li>
}else{

    <li class="nav-item">
        <a class="nav-link active" aria-current="page">
            Hi @User.Name
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="MyInfo">My Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="Singout">Logout</a>
    </li>
}