@model RecoveryEmailDto

<form method="post" asp-action="Recovery" class="needs-validation" novalidate>
	<h1>Forgot Password</h1>
	<div class="form-group my-2">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count() > 0?"is-invalid":"")" title="">
		<div id="Email" class="invalid-feedback">
			@{
				if (ViewData?.ModelState?.TryGetValue("Email", out var modelStateEntry) == true)
					foreach (var err in modelStateEntry.Errors)
					{
						@err.ErrorMessage
						<br />
					}
			}
		</div>
	</div>
	@if(ViewData?.ModelState["Success"] is not null)
	{
		<div class="form-group my-2 alert alert-success" role="alert">
			@ViewData?.ModelState["Success"]?.Errors?[0].ErrorMessage
		</div>
	}
	else if (ViewData?.ModelState["Failed"] is not null)
	{
		<div class="form-group my-2 alert alert-warning" role="alert">
			@ViewData?.ModelState["Failed"]?.Errors?[0].ErrorMessage
		</div>
	}
	<div class="form-group my-2">
		<button type="submit" class="btn btn-primary w-100">Send Recovery Mail <i class="fa-solid fa-envelope"></i></button>
		<p class="text-center">
			<a class="link-info" asp-action="Recovery">Sing in</a> / 
			<a class="link-info" asp-action="Singup">Sing up</a>
		</p>
	</div>
</form>