@model int

<div class="border border-1 rounded-5 p-5 alert alert-danger text-center">
	<p class="fs-5">Last 7 Day: Week Summary</p>
	<hr />
	<p>You added @Model Status</p>
	<i class="fa-solid fa-teeth fa-10x"></i>
</div>